/* Front-end Style Guide 

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy*/

/*Font size (paragraph): 16px*/

/* Font*/
@media screen and (min-width: 375) and (max-width: 1440px) {
    .flex-container {
        flex-direction: column;
      }
  
}

body {
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.hero img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
/*    margin: auto;
center image 
align-items: center;
    justify-content: center;
    width: fit-content;
*/

.ordersummary{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color:white;
    align-items: center;
    width: fit-content;
    margin: auto;
    box-shadow: 10px 15px 10px rgba(165, 161, 164, 0.945);

} 

/*width: 24%;
  flex-direction: column;
  flex-wrap: wrap;
*/

.ordersummary > span.instructions h1{
    text-align: center;
    font-family: Arial; 
}

.ordersummary > span.instructions p {
   text-indent: 1em;
   text-align: center;
}

.container {
    display: flex;
    background-color: rgb(237, 239, 245);
    padding-bottom: 5pt;
    padding-top: 5pt;
    align-items: center;
    border-radius: 1rem;
    margin-left: 60px;
    margin-right: 60px;
}

.container > img.music{
    padding-left: 20px;
}

.container2 > ul{
    list-style-type: none;
}

.detail_item {
    font-weight: bold;
}

.container3 > a {
    padding-left: 88px;
}
/* Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900*/
.ordersummary > button.button-one {
    background-color: hsl(253, 87%, 49%);
    color: rgba(255, 255, 255, 0.918);
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 10px 15px 10px rgba(165, 161, 164, 0.945);
}

.ordersummary > span.cancel {
    text-align: center;
    padding-bottom: 10px;
}


.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}
